[submodule "modules/nvm"]
	path = modules/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "modules/nvim"]
	path = modules/nvim
	url = https://github.com/NvChad/NvChad
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "modules/tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/custom/plugins/zsh-vi-mode"]
	path = zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
